nav {
  text-align: right;
  ul.trigger{
    padding: 0;
    margin: 0;
    list-style-type: none;
    li{

      display: inline-block;
      margin-left: -4px;
      position: relative;
      a.page-link{
        display: block;
        font-size: 15px;
        border-width: 4px 0px;
        border-style: solid;
        border-color: transparent;
        padding: 15px 15px;
        margin: 0;
        &.active, &:hover{
          border-color: $brand-color;
          color: $brand-color;
          text-decoration: none;
        }
      }
    }
  }
}